@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

*,
html,
body {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

.customContainer {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
}

#home,
#scrollTop {
  background: linear-gradient(152deg, #182e76 15.31%, #37233b 100%);
}

.headerActive {
  background: #182e76;
}
.customBg {
  z-index: 9999999;
  background: linear-gradient(152deg, #182e76 15.31%, #37233b 100%);
}

#heroBg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("./assets//images/Hero.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(15px);
}

#join::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: url("./assets//images/join2.png");
  background-position: right;
  background-repeat: no-repeat;
  filter: blur(15px);
}

#join::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: url("./assets//images/join1.png");
  background-position: left;
  background-repeat: no-repeat;
  filter: blur(15px);
}

@media only screen and (max-width: 640px) {
  #join::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: url("./assets//images/mImg1.png");
    background-position: left;
    background-repeat: no-repeat;
    filter: blur(15px);
  }
  #join::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: url("./assets//images/mImg2.png");
    background-position: right;
    background-repeat: no-repeat;
    filter: blur(15px);
  }
}

.custom-radial {
  width: 100%;
  height: 100%;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.4;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #e36ce6 0%,
    rgba(255, 255, 255, 0) 100%
  );

  filter: blur(116px);
}

.gradientBtn,
.gradientHover:hover {
  background: linear-gradient(152deg, #182e76 15.31%, #37233b 100%);
  transition: all 0.3s;
}

.gradientBtn:hover {
  background: linear-gradient(152deg, #37233b 15.31%, #182e76 100%);
}

#card {
  transition: background 0.5s ease;
}
#card:hover {
  border-radius: 20px;
  border: 1px solid (#37233b, #182e76);
}
.active {
  color: white;
  background: linear-gradient(152deg, #182e76 15.31%, #37233b 100%);
}

.cardBtn {
  background: linear-gradient(152deg, #182e76 15.31%, #37233b 100%);
  transition: all 0.5s;
  color: white;
  border: 1px solid #37233b;
}

#card:hover .cardBtn {
  background: white;
  color: #37233b;
  border: 1px solid #37233b;
}

.toggleBtn {
  background: linear-gradient(152deg, #182e76 15.31%, #37233b 100%);
}

#footerGradient,
#spinner {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  opacity: 0.5;
  background: #04215b;
  filter: blur(116.5px);
}

.customCarousel .inner {
  white-space: nowrap;
  transition: transform 0.4s;
}
.customCarousel .carouselItem {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: normal;
}
